<main fxLayoutAlign="center">
  <section>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" Align="center">
      <ng-container *ngFor="let item of items">
        <div fxFlex="33.333" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="50">
          <div>
            <img
              *ngIf="item.img"
              src=" {{ item.img }}"
              alt="showCaseImgs"
              class="img-exist"
            />
            <div *ngIf="!item.img" class="no-img">
              <h4>{{ item.heading }}</h4>
              <p>{{ item.para }}</p>

              <button mat-raised-button>{{ item.btn }}</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</main>
