main {
  margin-top: 100px;
  margin-bottom: 100px;
}

section {
  max-width: 1300px;
}

.img-exist {
  height: 250px;
  max-width: 360px;
}
.no-img {
  height: 200px;
  margin-top: 10px;
}

.no-img h4 {
  color: #82ae46;
  font-family: cursive;
  font-size: x-large;
}

.no-img p {
  font-size: large;
  color: gray;
}

button {
  color: white;
  background-color: #82ae46;
  border-radius: 20px;
  font-size: medium;
  font-weight: 900;
  width: 140px;
  height: 45px;
}

button:hover {
  color: #82ae46;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #82ae46;
  width: 140px;
  height: 45px;
  outline: none;
}

@media only screen and (max-width: 414px) {
  .img-exist {
    width: 280px;
    height: auto;

  }
}
