<main fxLayoutAlign="center">
  <section>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
     
      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50">
        <div>
          <h2>Vegefoods</h2>
          <p>
            Far far away, behind the word mountains, <br />
            far from the countries Vokalia and Consonantia.
          </p>
        </div>
      </div>

      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50">
        <div>
          <h2>Menu</h2>
          <p>Shop</p>
          <p>About</p>
          <p>Journal</p>
          <p>Contact Us</p>
        </div>
      </div>


      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50">
        <div>
          <h2>Help</h2>

          <p>Shipping Information FAQs</p>
          <p>Returns & Exchange</p>
          <p>Terms & Conditions</p>
          <p>Privacy Policy</p>
        </div>
      </div>


      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50">
        <div>
          <h2>Have a Questions?</h2>

          <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
          <p>+2 392 3929 210</p>
          <p>info@yourdomain.com</p>
        </div>
      </div>


    </div>
  </section>
</main>
