<main fxLayoutAlign="center">
  <section>
    <div class="content" Align="center" data-aos="fade-up">
      <h2>Our Products</h2>
      <p>
        Far far away, behind the word mountains, far from the countries Vokalia
        and Consonantia
      </p>
    </div>

    <div fxLayout="row wrap" Align="center" fxLayoutAlign="space-around center">
      <ng-container *ngFor="let item of products">
        <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50">
          <mat-card data-aos="fade-up">
            <div class="img-box">
              <img src="{{ item.p_img }}" alt="product-img" class="product-img" />
            </div>
            <div class="content">
              <mat-card-title>{{ item.p_name }}</mat-card-title>
              <mat-card-subtitle>{{ item.p_price | currency }}</mat-card-subtitle>
              <div class="overlay">
                <button><mat-icon>menu</mat-icon></button>
                <button (click)='addToCart()'>
                  <i class="fas fa-shopping-cart"></i>
                </button>
                <button><i class="far fa-heart"></i></button>
              </div>
            </div>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </section>
</main>
