<main fxLayoutAlign="center">
  <section>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-around center"
      data-aos="fade-up"
    >
      <div class="all-part">
        <div fxLayoutAlign="center">
          <div class="circle-free-ship  c-hover">
            <div class="circle-in">
              <i class="fas fa-truck-moving fa-custom"></i>
            </div>
          </div>
        </div>
        <h4>FREE SHIPPING</h4>
        <p>ON ORDER OVER $100</p>
      </div>

      <div class="all-part">
        <div fxLayoutAlign="center">
          <div class="circle-always-fresh c-hover">
            <div class="circle-in">
              <i class="fas fa-truck-moving fa-custom"></i>
            </div>
          </div>
        </div>

        <h4>ALWAYS FRESH</h4>
        <p>PRODUCT WELL PACKAGE</p>
      </div>

      <div class="all-part">
        <div fxLayoutAlign="center">
          <div class="circle-superior-quality c-hover">
            <div class="circle-in">
              <i class="fas fa-headset fa-custom"></i>
            </div>
          </div>
        </div>

        <h4>SUPERIOR QUALITY</h4>
        <p>QUALITY PRODUCTS</p>
      </div>

      <div class="all-part">
        <div fxLayoutAlign="center">
          <div class="circle-support c-hover">
            <div class="circle-in">
              <i class="fas fa-headset fa-custom"></i>
            </div>
          </div>
        </div>

        <h4>SUPPORT</h4>
        <p>24/7 SUPPORT</p>
      </div>
    </div>
  </section>
</main>
