<section>
  <mat-toolbar>
    <span class="logo">
      <h3>VegFoods</h3>
    </span>
    <span class="example-fill-remaining-space"></span>

    <div fxShow="true" fxHide.gt-sm="true" class="menu-icon">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon style="color: white">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav opened="false" fxHide.gt-sm="true"> </mat-sidenav>
  </mat-sidenav-container>
</section>
