<section>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- logo -->
    <div fxFlex="25" Align="center">
      <h3 routerLink="/">VegFoods</h3>
    </div>
    <!-- empty space -->
    <div fxFlex="15"></div>
    <!-- md screen -->
    <div fxFlex="60" fxHide.lt-md>
      <div fxLayoutAlign="space-evenly center">
        <a routerLink="/">HOME</a>
        <a routerLink="/shop">SHOP</a>
        <a routerLink="/about">ABOUT</a>
        <a routerLink="/blog">BLOG</a>
        <a routerLink="/contact">CONTACT</a>
        <div class="cart">
          <span routerLink="/cart"><i class="fas fa-shopping-cart"></i></span>
          <span> [{{ cartItems.length }}] </span>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            <i class="far fa-user"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Account</button>
            <button mat-menu-item>Wish List</button>
            <button mat-menu-item>Log Out</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <!-- small screen -->
  <!-- <div fxHide.gt-sm class="small-screen">
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
      <a href="">HOME</a>
      <a href="">SHOPE</a>
      <a href="">ABOUT</a>
      <a href="">BLOG</a>
      <a href="">CONTACT</a>
    </div>
  </div> -->
</section>
