section {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #070707;
  /* color: black; */
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);

  z-index: 9999;
}

.small-screen {
  background: rgb(2, 0, 36);
  color: white;
  height: 400px;
}

h3 {
  font-size: 26px !important;
}

a {
  text-decoration: none;
  /* color: black; */
  color: white;
}

a:hover {
  border-bottom: solid 2px;
  border-bottom-color: #a7cb00;
  cursor: pointer;
}

span:hover {
  cursor: pointer;
}

span i {
  outline: none;

}
.cart {
  background-color: #a7cb00;
  padding: 20px;

}

a:first-child:default {
  background-color: #a7cb00;
  padding: 20px;
}

a:focus {
  background-color: #a7cb00;
  padding: 20px;
}
