<main>
  <section data-aos="fade-up">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="content">
        <h4>
          Subcribe to our Newsletter
        </h4>
        <p>Get e-mail updates about our latest shops and special offers</p>
      </div>

      <div class="subscribe">
        <form>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <input
              type="email"
              class="email"
              placeholder="Enter Email"
              required
              fxFlex="50"
              fxFlex.sm="100"
              fxFlex.xs="100"
            />
            <button
              mat-button
              class="btn"
              fxFlex="40"
              fxFlex.sm="100"
              fxFlex.xs="100"
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
