<main fxLayoutAlign="space-around">
  <section>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <h4>
          Subcribe to our Newsletter
        </h4>
        <p>Get e-mail updates about our latest shops and special offers</p>
      </div>

      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="row">
          <input type="email" />
          <button mat-raised-button>Subscribe</button>
        </div>
      </div>
    </div>
  </section>
</main>
