<main fxLayoutAlign="center">
  <section>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <h4>
          Subcribe to our Newsletter
        </h4>
        <p>Get e-mail updates about our latest shops and special offers</p>
      </div>

      <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
        <form>
          <div fxLayout="row">
            <input type="email" placeholder="Enter Email" required />
            <button mat-raised-button>Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
